body {
  margin: 0;
  font-family: Inter;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  margin: 0 0 3rem 0;
  padding: 2rem 0;
  gap: 15px;
  color: white;
  font-weight: 400;
}

.itemImg {
  max-height: 20rem;
  border-radius: 15px;
  margin-right: 2rem;
}



section {
  border-bottom: 0.5px solid rgb(200, 190, 190);
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 85%;
}

.travelInfo {
  font-size: 1.4rem;
  font-weight: 300;
  /* max-width: 75%; */
}

a {
  text-decoration: underline rgb(200, 190, 190);
  font-size: 1.4rem;
  color: rgb(200, 190, 190);
  margin-left: 0.8rem;
}

.location {
  font-size: 1.4rem;
  
}